<!-- Pass in data from server.js -->
<div class="col-xs-6 list-group">
    <ul id="articles">
        {{#each article}}
        <li>
            <p id="article" data-id="{{this._id}}">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.summary}}</p>
                </div>
                <a class="btn btn-info" href="{{this.link}}">
                    Link to article
                </a>
                <br>
            </p>
        </li>
        {{/each}}
    </ul>
</div>


<div class="col-xs-6">
    <div class="card" style="width: 18rem;">
        <div id="notes"></div>
        <div class="card-body">
            <div id="commentTittle"></div>
            <div id="comment"></div>
        </div>
    </div>
</div>
</div>